<h2>Novo atendimento</h2>
<% if @case.errors.any? %>
  <ul>
    <% @case.errors.full_messages.each do |full_message| %>
      <li><%= full_message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_for :case, url: cases_path do |f| %>
  <p>
    <%= f.label 'Tipo' %><br>
    <% Case::TYPES.each do |key, value| %>
      <%= f.radio_button :type, key %>
      <%= f.label :type, value, value: key %>
    <% end %>
  </p>
  <p>
    <%= f.label 'UF' %><br>
    <%= f.select :uf, Case::BRAZIL_UFS.invert, prompt: 'Escolha...' %>
  </p>
  <p>
    <%= f.label 'Motivo' %><br>
    <% Case::REASONS.each do |key, value| %>
      <%= f.radio_button :reason, key %>
      <%= f.label :reason, value, value: key %>
    <% end %>
  </p>
  <p>
    <%= f.label 'Anotações' %><br>
    <%= f.text_area :notes %>
  </p>
  <p>
    <%= f.submit 'Encerrar atendimento' %>
  </p>
<% end %>
<hr/>
<%= link_to 'Sair', destroy_user_session_path, method: :delete %>
